<div layout-padding></div>

<div class="table" layout="row">
    <div layout-small-padding></div>

    <div layout="column">
        <div layout="row">
            <div layout-small-padding></div>

            <button md-button color="primary" md-raised-button class="tool-button" (click)="openFileBrowser()">Upload</button>
            <input #fileInput type="file" (change)="upload($event)" placeholder="Upload file" accept=".pdf" style="display:none">

        </div>

        <div layout-small-padding></div>

        <div layout="row">
            <div *ngFor="let file of (fileList$ | async)">
                <md-card *ngIf="file" span="5">
                    <md-card-header layout="row" layout-align="center center">
                        <md-card-title layout="row" layout-align="space-around center" layout-fill-width>
                            <span>{{file.name}}</span>

                            <div layout="row" layout-align="end center" layout-fill-width>
                                <div class="divider"></div>
                                <md-icon class="cursor" (click)="openDeletionDialog(file.name)">delete</md-icon>
                            </div>
                        </md-card-title>
                    </md-card-header>

                    <md-card-actions class="dual-buttons" span-height="1" layout="row" layout-align="start center">
                        <button md-button
                                color="primary"
                                class="hover"
                                layout-fill
                                (click)="download(file.name)">
                            Télécharger
                        </button>
                        <button md-button
                                color="primary"
                                class="hover"
                                layout-fill
                                (click)="displayFile(file.name)">
                            Ouvrir
                        </button>
                    </md-card-actions>
                </md-card>
            </div>
            <div>
                <div layout-small-padding></div>
                <span *ngIf="(fileList$ | async)?.length === 0">Pas de document uploadé</span>
            </div>
        </div>
    </div>
</div>
