<div layout-padding></div>

<div class="table">
    <!--(keydown.enter)="$event.preventDefault()" Allow to preven the submission of the form pressing enter,-->
    <!--since it is used to validate the inline edit input-->
    <form [formGroup]="form" (ngSubmit)="onSubmit()" (keydown.enter)="$event.preventDefault()">
        <table class="srfp-table">
            <thead>
            <tr>
                <th rowspan="4">Ordre</th>
                <th rowspan="4">Nom</th>
                <th rowspan="4">Poulets</th>
                <th rowspan="4">Abats</th>
                <th rowspan="4">Oeufs</th>
                <th colspan="4">Conserves</th>
                <th rowspan="4">Prix</th>
                <th rowspan="4"></th>
            </tr>
            <th class="colspan">Pâté</th>
            <th class="colspan">Rillettes</th>
            <th class="colspan">Terrine</th>
            <th class="colspan">Mousse</th>
            </thead>

            <tbody>
            <tr *ngFor="let row of (deliveries$ | async); let i = index" class="centered-text cursor">
                <td span="1">
                    <label>{{i}}</label></td>
                <td class="left-text">
                    <md-select [placeholder]="row[1].name ? row[1].name : 'Selectionnez un nom'"
                               [floatPlaceholder]="'never'"
                               [formControl]="form.controls.name.controls[i].controls.name">
                        <md-option [value]="row[1].name ? row[1].name : (customer.firstname)" *ngFor="let customer of (customers$ | async)">{{customer.firstname}} {{ customer.lastname }}</md-option>
                    </md-select>
                </td>
                <td span="1">
                    <app-inline-edit type="text"
                                     [formControl]="form.controls.chicken.controls[i].controls.chicken"
                                     [defaultValue]="row[2].chicken"></app-inline-edit>
                </td>
                <td span="1">
                    <input type="checkbox" [formControl]="form.controls.abats.controls[i].controls.abats"
                                 [checked]="row[3].abats">
                </td>
                <td span="1">
                    <app-inline-edit type="text"
                                     [formControl]="form.controls.eggs.controls[i].controls.eggs"
                                     [defaultValue]="row[4].eggs"></app-inline-edit>
                </td>
                <td span="1">
                    <app-inline-edit type="text"
                                     [formControl]="form.controls.conserves.controls[i].controls.conserves.controls.pate"></app-inline-edit>
                </td>
                <td span="1">
                    <app-inline-edit type="text"
                                     [formControl]="form.controls.conserves.controls[i].controls.conserves.controls.rillettes"></app-inline-edit>
                </td>
                <td span="1">
                    <app-inline-edit type="text"
                                     [formControl]="form.controls.conserves.controls[i].controls.conserves.controls.terrine"></app-inline-edit>
                </td>
                <td span="1">
                    <app-inline-edit type="text"
                                     [formControl]="form.controls.conserves.controls[i].controls.conserves.controls.mousse"></app-inline-edit>
                </td>
                <td span="1">
                    <app-inline-edit type="text"></app-inline-edit>
                </td>

                <td span="1">
                    <md-icon class="cursor" (click)="deleteRow(i)">delete</md-icon>
                </td>
            </tr>
            </tbody>
            <tr>
                <td colspan="11" class="inside-table">
                    <md-icon class="cursor" (click)="addRow($event)">add_circle</md-icon>
                </td>
            </tr>
        </table>
    </form>

    <div layout-small-padding></div>

    <div layout="row" layout-align="space-between center">
        <div></div>

        <div layout="row" layout-align="center center">

            <button md-button
                    color="grey"
                    span="2"
                    (click)="previousPage()">
                Retour
            </button>

            <div layout-padding></div>

            <button md-button color="primary"
                    md-raised-button span="2"
                    (click)="onSubmit()">
                Valider
            </button>
        </div>
    </div>
    <div>
