<div layout-padding></div>
<div class="table">
    <ngx-datatable
            class="material"
            [rows]="rows$ | async"
            [columns]="columns"
            columnMode="force"
            [footerHeight]="30"
            [rowHeight]="'auto'"
            [limit]="15">
        <ngx-datatable-column [name]="column.name"
                              [draggable]="false"
                              [resizeable]="false"
                              [sortable]="column.sortable"
                              [prop]="column.prop"
                              [maxWidth]="column.maxWidth"
                              *ngFor="let column of columns">
            <ng-template let-value="value" ngx-datatable-cell-template>
                <div *ngIf="value.editButton" class="edit-button cursor" [routerLink]="['..', value.userId, 'edit']">
                    <md-icon>mode_edit</md-icon>
                </div>

                <span *ngIf="!value.editButton"> {{setValue(value)}} </span>

            </ng-template>
        </ngx-datatable-column>

    </ngx-datatable>

</div>
