<div md-dialog-title layout="row" layout-align="space-between center">
    <span>Suppression d'un élément</span>
    <button tabindex="-1" md-mini-fab (click)="dialogRef.close(false)"><md-icon>close</md-icon></button>
</div>

<md-dialog-content>
    Êtes-vous certain de vouloir supprimer cet élément ?
</md-dialog-content>

<md-dialog-actions layout="row" layout-align="center center">
    <button tabindex="-1" (click)="dialogRef.close(false)" md-button color="grey">
        Annuler
    </button>

    <div layout-small-padding></div>
    <div layout-small-padding></div>

    <button tabindex="-1" (click)="dialogRef.close(true)" md-button md-raised-button color="primary">
        Supprimer
    </button>
</md-dialog-actions>
