@import "functions";
@import "palette";

:host {
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: span(1);
    background: white;
    transition: width .7s ease-in-out;

    // when menu is opened, we should not cover it
    @include host-context('.content.opened') {
        width: calc(100% - 180px);
    }
}
