<div layout="column">
    <a class="entry"
       [routerLink]="['/home']"
       routerLinkActive="active-link"
       layout-fill-width>
        Accueil
    </a>

    <a class="entry"
       [routerLink]="['/data']"
       routerLinkActive="active-link"
       layout-fill-width>
        Données
    </a>
    <div [class.opened]="true"
         class="submenu">
        <div class="subentry"
             [routerLink]="['/customer']"
             routerLinkActive="active-link"
             layout-fill-width>
            Clients
        </div>

    </div>

</div>
