<div layout="column">
    <a class="entry"
       [routerLink]="['/home']"
       routerLinkActive="active-link"
       layout-fill-width>
        Accueil
    </a>

    <a class="entry"
       layout-fill-width>
        Données
    </a>
    <div [class.opened]="true"
         class="submenu">
        <div class="subentry"
             [routerLink]="['data', 'customers']"
             routerLinkActive="active-link"
             layout-fill-width>
            Clients
        </div>
        <div class="subentry"
             [routerLink]="['data', 'henhouses']"
             routerLinkActive="active-link"
             layout-fill-width>
            Poulaillers
        </div>
        <div class="subentry"
             [routerLink]="['data', 'chicken']"
             routerLinkActive="active-link"
             layout-fill-width>
            Poulets
        </div>
        <div class="subentry"
             [routerLink]="['data', 'laying-hens']"
             routerLinkActive="active-link"
             layout-fill-width>
            Poules pondeuses
        </div>
    </div>

</div>
