<div md-dialog-title layout="row" layout-align="space-between center">
    <span>{{ (confirmationTitle ? confirmationTitle : 'test')}}</span>
    <button tabindex="-1" md-mini-fab (click)="dialogRef.close(false)"><md-icon>close</md-icon></button>
</div>

<md-dialog-content>
    <form [formGroup]="form">
        <div layout="row" layout-align="space-between start" class="section">
            <div layout="column">
                <label>Firstname</label>
                <md-input-container [floatPlaceholder]="'never'" class="with-label">
                    <input required
                           mdInput
                           formControlName="firstname"
                           maxlength="20"
                           placeholder="current firstname">
                </md-input-container>
            </div>
        </div>
    </form>
</md-dialog-content>

<md-dialog-actions layout="row" layout-align="center center">
    <div layout-small-padding></div>
    <button tabindex="-1" (click)="dialogRef.close(false)" md-button color="grey">
        Cancel
    </button>

    <div layout-small-padding></div>
    <div layout-small-padding></div>

    <button tabindex="-1" (click)="dialogRef.close(true)" md-button md-raised-button color="primary">
       Confirm
    </button>
    <div layout-small-padding></div>
</md-dialog-actions>
