html, body {
    height: 100%;
    position: relative;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;

    min-height: 100%; // [2]

    -webkit-text-size-adjust: 100%; // [3]
    -ms-text-size-adjust: 100%; // [3]

    -webkit-font-smoothing: antialiased; // [4]
    -moz-osx-font-smoothing: grayscale; // [4]
}

body {
    margin: 0;
    padding: 0;
}

body,
span,
div,
a {
    font-family: 'Muli';
}

* {
    box-sizing: border-box;
}

[tabindex='-1']:focus {
    outline: none;
}

.inset {
    padding: 10px;
}

select,
button,
textarea,
input {
    vertical-align: baseline;
}

// Fix Android 4.0 button bugs
input[type="reset"],
input[type="submit"],
html input[type="button"],
button {
    cursor: pointer;
    -webkit-appearance: none;

    &[disabled] {
        cursor: default;
    }
}

textarea {
    vertical-align: top;
    overflow: auto;
}

input {
    &[type="search"] {
        -webkit-appearance: textfield;
        box-sizing: content-box;
        -webkit-box-sizing: content-box;

        &::-webkit-search-decoration,
        &::-webkit-search-cancel-button {
            -webkit-appearance: none;
        }
    }
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
