<div layout-padding></div>

<div class="table" layout="row">
    <div layout-small-padding></div>

    <div layout="column">
        <div layout="row">
            <div layout-small-padding></div>

            <button md-button color="primary" md-raised-button class="tool-button" [routerLink]="['..', 'create']">Créer</button>
        </div>

        <div layout-small-padding></div>

        <div layout="row">
            <div *ngFor="let delivery of (deliveries$ | async)">
                <md-card *ngIf="delivery" span="5">
                    <md-card-header layout="row" layout-align="center center">
                        <md-card-title layout="row" layout-align="space-around center" layout-fill-width>
                            <span>Livraison du {{delivery.date}}</span>
                            <div class="divider"></div>
                            <md-icon class="cursor" (click)="openDeletionDialog(delivery.id)">delete</md-icon>
                        </md-card-title>
                    </md-card-header>

                    <md-card-actions layout="row" layout-align="start center">
                        <button md-button
                                color="primary"
                                class="hover"
                                layout-fill
                                [routerLink]="['..', delivery.id, 'edit']">
                            Voir le détail
                        </button>
                    </md-card-actions>
                </md-card>
            </div>
            <div>
                <div layout-small-padding></div>
                <span *ngIf="(deliveries$ | async)?.length === 0">Pas de fiche de livraison créé</span>
            </div>
        </div>
    </div>
</div>
