<div layout-small-padding></div>

<div class="table" layout="row">
    <div layout-small-padding></div>

    <button md-button color="primary" md-raised-button class="tool-button" [routerLink]="['..', 'create']">Créer</button>

    <div layout="row">

        <div *ngFor="let delivery of (deliveries$ | async)">
            <md-card span="5">
                <md-card-header layout="row">
                    <md-card-title layout="row" layout-align="start center">
                        Delivery n° x
                    </md-card-title>
                </md-card-header>

                <md-card-actions layout="row" layout-align="start center">
                    <button md-button
                            color="primary"
                            class="hover"
                            layout-fill
                            [routerLink]="['..', delivery.id]">
                        Voir le détail
                    </button>
                </md-card-actions>
            </md-card>
        </div>
    </div>
</div>
