<div layout-padding></div>

<div layout="row">
    <div layout-small-padding></div>

    <div layout="column">
        <div layout="row">
            <div layout-small-padding></div>

            <button md-button color="primary" md-raised-button class="tool-button" [routerLink]="['..', 'list']">Retour</button>
        </div>

        <div layout-small-padding></div>

        <iframe width="500" height="600" src="poulets-api/files/model/Plaquette2017.pdf" type="application/pdf"></iframe>


    </div>
</div>
