@import "functions";
@import "palette";

snack-bar-container {
    &:before {
        content: '\00a0';
        width: 6px;
        margin-right: 15px;
        height: 100%;
        top: 0;
        position: absolute;
        left: 0;
    }

    &.level-info:before {
        background: $primary;
    }

    &.level-error:before {
        background: $error;
    }
}
