@import "functions";
@import "palette";

md-sidenav-container {
    background-color: white !important;

    md-sidenav {
        width: span(7);
    }

    .mat-sidenav-content {
        padding: 20px 0;
        overflow: hidden !important;

        @include host-context(app-task-data) {
            padding-top: 0;
        }

        @include host-context(app-axis-detail) {
            padding: 10px 0 20px 0;
        }
    }
}

