@import "functions";

md-toolbar {
    height: span(1) !important;
    min-height: span(1) !important;
    background: black !important;
    color: white !important;
    padding-left: 0 !important;
    position: fixed;
    z-index: 2;

    .mat-toolbar-layout,md-toolbar-row {
        height: 100%;
        width: 100%;
    }

    .sidemenu-opener {
        height: span(1) !important;
        background: $grey-1;
        top: -2px; // why?
        position: relative;
        border-bottom: 1px solid rgba(102, 102, 102, 0.4);

        button {
            background: transparent !important;
            margin-left: 10px;
        }

        img {
            margin-left: 10px;
            width: 67px;
        }
    }
}
